/** @format */
.Btn {
  border: 1px solid;
  border-color: rgb(194, 194, 194);
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
}
/* .btndiv {
  padding-left: 700px;
} */
.Btn:hover {
  /* background-color: rgb(63, 154, 202); */
  border: 2px solid;
  border-color: rgb(243, 77, 77);
  border-radius: 8px;
}
.Nav {
  border: 0px solid;
  color: whitesmoke;
  box-shadow: 2px 4px;
}
